---
IdentityUrlExternal: http://${ESHOP_EXTERNAL_DNS_NAME_OR_IP}:5105
IdentityUrl: http://identity.api
XamarinCallback: http://${ESHOP_EXTERNAL_DNS_NAME_OR_IP}:5105/xamarincallback
BasketUrl: http://basket.api
CallBackUrl: http://${ESHOP_EXTERNAL_DNS_NAME_OR_IP}:5100
CatalogUrl: http://catalog.api
LocationsUrl: http://locations.api
MarketingUrl: http://marketing.api
OrderingUrl: http://ordering.api
OrderingBackgroundTasksUrl: http://ordering.backgroundtasks
PaymentUrl: http://payment.api
spaUrl: http://webspa
mvcUrl: http://webmvc
SignalrHubUrl: http://${ESHOP_EXTERNAL_DNS_NAME_OR_IP}:5202
UseCustomizationData: True  
UseLoadTest: ${USE_LOADTEST?False}
management:
  endpoints:
    path: /cloudfoundryapplication
mongodb:
  client:
    server: nosql.data
mysql:
  client:
    server: sql.data
    username: root
    password: Pass@word
rabbitmq:
  client:
    server: rabbitmq
ApplicationInsights:
  InstrumentationKey: ${INSTRUMENTATION_KEY}
EventBusConnection: ${ESHOP_AZURE_SERVICE_BUS?rabbitmq}
EventBusUserName: ${ESHOP_SERVICE_BUS_USERNAME}
EventBusPassword: ${ESHOP_SERVICE_BUS_PASSWORD}      
EventBusRetryCount: 5
AzureStorageAccountName: ${ESHOP_AZURE_STORAGE_CATALOG_NAME}
AzureStorageAccountKey: ${ESHOP_AZURE_STORAGE_CATALOG_KEY}
AzureServiceBusEnabled: False
AzureStorageEnabled: False
OrchestratorType: ${ORCHESTRATOR_TYPE}
UseVault: false
Vault:
  Name: eshop
  ClientId: your-clien-id
  ClientSecret: your-client-secret
Logging:
  IncludeScopes: false
  LogLevel:
    System: Critical
    Microsoft: Information
  Debug:
    LogLevel:
      Default: Information
    Console:
      LogLevel:
        Default: Information
eureka:
  client: 
    serviceUrl: http://eurekaserver:8761/eureka/
    shouldFetchRegistry: false
  instance:
    port: 80